<!DOCTYPE html>
<html>
<head>
  <title>TPO – Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="center">
    <div class="card">
      <h1>TPO Login</h1>

     <% if (errors && errors.length) { %>

        <div class="error">
          <% errors.forEach(e => { %><p><%= e.msg %></p><% }) %>
        </div>
      <% } %>

      <form method="POST" action="/tpo/login" class="form">
        <label>Email</label>
        <input type="email" name="email" value="<%= (old && old.email) || '' %>" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button class="btn" type="submit">Login</button>
      </form>

      <p class="muted">
        New TPO? <a href="/tpo/signup">Create Account</a>
      </p>
    </div>
  </div>
</body>
</html>
